<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-light rounded-pill shadow bg-body" id="navbar">
	<div class="navbar w-100 rounded-pill" id="navbarsExample02">
		<ul class="navbar-nav w-100 d-flex justify-content-between mx-2">
			<li class="nav-item active">
				<a class="nav-link" href="#"><img src="/build/images/home.45a187d8.svg" alt="home">
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#"><img src="/build/images/toggle.62730b30.svg" alt="home"></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#"><img src="/build/images/toggle.62730b30.svg" alt="home"></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#"><img src="/build/images/toggle.62730b30.svg" alt="home">
				</a>
			</li>
		</ul>
	</div>
</nav>
