{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="connexionPageBody">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner reassuringDoctor">
				<div
					class="carousel-item active">{# <img class="d-block w-100 carrousel-picture" src="{{asset('build/images/reassuringDoctor.png')}}" alt="First slide"> #}
				</div>
			</div>
		</div>

		<div class="connexionPageBottom d-flex p-2 align-items-center flex-column mb-4">
			<h1 class="fw-bold ">Bienvenue sur Serenity</h1>
			<h3 class="fw-bold w-80">L'application qui vous accompagne tout au long de votre parcours d'hospitalisation
			</h3>

			<a class="btn btn-light registrationBtn p-3 col-5 m-3" href="{{ path("app_login") }}" role="button">Se connecter</a>
		</div>
	</div>
{% endblock %}
