{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<body class="connexionPageBody">
		<div class="background-home bg-white">
			<div class="reassuringDoctor d-flex align-items-end">
				<div class="text-center w-100">
					<h1 class="fw-bold mb-0 title-serenity py-2">Bienvenue sur Serenity</h1>
				</div>
			</div>
		</div>

		<div class="connexionPageBottom d-flex p-2 align-items-center flex-column my-4 mx-3">
			<div class=" w-60">
				<h3 class="fw-bold text-white">L'application qui vous accompagne tout au long de votre parcours d'hospitalisation.
				</h3>
			</div>

			<a class="btn btn-light registrationBtn p-3 mt-5 w-40 fs-4" href="{{ path("app_login") }}" role="button">Se connecter</a>
		</div>
	</body>
</div>{% endblock %}
