{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier profession
{% endblock %}

{% block body %}
	<h1 class="crud-title">Modifier une profession de santé</h1>

	{{ include('medical_discipline/_form.html.twig') }}

	<a class="btn btn-primary m-2" href="{{ path('app_medical_discipline_index') }}">Retour à la liste</a>
{% endblock %}
