{% extends 'base.html.twig' %}

{% block title %}Modifier profession
{% endblock %}

{% block body %}
	<h1 class="crud-title">Modifier une profession de santé</h1>

	{{ include('medical_discipline/_form.html.twig') }}

	<a href="{{ path('app_medical_discipline_index') }}">back to list</a>

	{{ include('medical_discipline/_delete_form.html.twig') }}
{% endblock %}
