{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Professionnels de santé
{% endblock %}

{% block body %}
	<h1 class="text-center m-3">Professionnels de santé</h1>

	<table class="table w-75 mt-5">
		<thead>
			<tr>
				<th>Professionnel</th>
				<th>Secretariat(s)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for medical_discipline in medical_disciplines %}
				<tr>
					<td>{{ medical_discipline.name }}</td>
					<td class="flex-column">
						{% for secretariat in medical_discipline.secretariats %}
							<p>
								{{ secretariat.name|capitalize }}</p>
						{% endfor %}
					</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_medical_discipline_edit', {'id': medical_discipline.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
