{% extends 'base_form.html.twig' %}

{% block title %}New MedicalDiscipline
{% endblock %}

{% block body %}

	{% block h1 %}Ajouter une profession de santé
	{% endblock %}

	{{ include('medical_discipline/_form.html.twig') }}

	<a href="{{ path('app_medical_discipline_index') }}">back to list</a>
{% endblock %}
