{% extends 'base.html.twig' %}

{% block title %}Ajouter Profession
{% endblock %}

{% block body %}
	<h1 class="crud-title">Ajouter une profession de santé</h1>

	{{ include('medical_discipline/_form.html.twig') }}

	<a href="{{ path('app_medical_discipline_index') }}">back to list</a>
{% endblock %}
