{% extends 'base.html.twig' %}

{% block title %}New MedicalDiscipline{% endblock %}

{% block body %}
    <h1>Create new MedicalDiscipline</h1>

    {{ include('medical_discipline/_form.html.twig') }}

    <a href="{{ path('app_medical_discipline_index') }}">back to list</a>
{% endblock %}
