{% extends 'base.html.twig' %}

{% block title %}New Content{% endblock %}

{% block body %}
    <h1>Create new Content</h1>

    {{ include('content/_form.html.twig') }}

    <a href="{{ path('app_content_index') }}">back to list</a>
{% endblock %}
