{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<h1>Dashboard</h1>


	{% for category in categories %}{% endfor %}
</tbody></table><a href="{{ path('app_category_new') }}">Create new</a>{% endblock %}
