{% extends 'baseCategory.html.twig' %}

{% block title %}
	{{category.title}}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('dashboard') }}
{% endblock %}
{% block body %}

	<div class="d-flex justify-content-start align-items-center ms-4 my-5">
		<a href="/category"><img class="arrow-back me-3" src="{{asset('build/images/arrow-back.svg') }}" alt="Retour en arrière"></a>
		<h1 class="ms-2 mt-2">Ma préparation</h1>
	</div>

	{% if category.title == 'Comprendre mon opération' %}
		{% include 'components/_componentCategory1.html.twig' %}

	{% endif %}
	{% if category.title == 'Finir les démarches administratives' %}
		{% include 'components/_componentCategory2.html.twig' %}

	{% endif %}
	{% if category.title == 'Préparer mon arrivée en toute sérénité' %}
		{% include 'components/_componentCategory3.html.twig' %}

	{% endif %}
	{% if category.title == 'Anticiper ma sortie' %}
		{% include 'components/_componentCategory4.html.twig' %}

	{% endif %}
	{% if category.title == 'Ma check-list avant le départ à la clinique' %}
		{% include 'components/_componentCategory5.html.twig' %}

	{% endif %}
{% endblock %}
