<form method="post" action="{{ path('app_schema_content_delete', {'id': schema_content.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ schema_content.id) }}">
	<a class="btn btn btn-danger m-2">Supprimer</a>
</form>
