{% extends 'base_form.html.twig' %}

{% block title %}New SchemaContent
{% endblock %}

{% block body %}
	{% block h1 %}Ajouter un Schéma
	{% endblock %}

	{{ include('schema_content/_form.html.twig') }}

	<a href="{{ path('app_schema_content_index') }}">back to list</a>
{% endblock %}
