{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Changer la vidéo
{% endblock %}

{% block body %}
	<h1 class="crud-title">Changer la vidéo depuis Youtube</h1>

	{{ include('video/_form.html.twig') }}

	<a class="btn btn-primary m-2" href="{{ path('app_video_index') }}">Retour à la liste</a>

{% endblock %}
