{% extends 'base_form.html.twig' %}

{% block title %}Edit Video
{% endblock %}

{% block body %}
	{% block h1 %}Ajouter une vidéo depuis Youtube
	{% endblock %}

	{{ include('video/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_video_index') }}">back to list</a>

	{{ include('video/_delete_form.html.twig') }}
{% endblock %}
