{% extends 'base_form.html.twig' %}

{% block title %}New Video
{% endblock %}

{% block body %}
	{% block h1 %}Ajouter une vidéo depuis Youtube
	{% endblock %}

	{{ include('video/_form.html.twig') }}

	<a href="{{ path('app_video_index') }}">back to list</a>
{% endblock %}
