//start coding by removing this file and adding yours ;)
@import "~bootstrap/scss/bootstrap";

html,
body {
    background: linear-gradient(360deg, #FEFEFF 0%, #FFFFFF 100%);
}

.navbar {
    border-radius: 15% 15% 0 0;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px -5px 30px rgba(126, 126, 127, 0.1);
    border: none;
}

.profil-dash{
    height: 20vh;
}

.picture-patient{
    width: 40vw;
    border-radius: 25%;
    background: url('/home/busy-gnl/Documents/Wild Code School/Projet 3/2022_09_PHP_Lyon_P3_Serenity/assets/images/profil_picture_lastman.jpeg') center no-repeat;
}


.progress-title{
    position: absolute;
    z-index: 1;
}

.progressbar{
    height: 10vh;
}


.progress{
    position: relative;
    height: 10vh;

}

.progress-index{
    height: 5vh;
width: 60vw;
background-color: #F4F6FA;
}

.progressbar-index{
    background-color: #AF8EFF99;
}

.dash-rdv {
    color: #7265E3;
}

.cat1-progress{
    background-color: #D9B520;
}

.cat1-progressbar{
    background-color: #F5D23F;
}

.cat2-progress{
    background-color: #079FA5;
}

.cat2-progressbar{
    background-color: #4FD5B8;
}

.cat3-progress{
    background-color: #C1486C;
}

.cat3-progressbar{
    background-color: #F85585;
}

.cat4-progress{
    background-color: #44D660;
}

.cat4-progressbar{
    background-color: #C2EB64;
}

.cat5-progress{
    background-color: #040055;
}

.cat5-progressbar{
    background-color: #6A65F6;
}
