$category1empty : #D9B520;
$category1full : #F5D23F;
$category2empty : #079FA5;
$category2full : #4FD5B8;
$category3empty : #C1486C;
$category3full : #F85585;
$category4empty : #44D660;
$category4full : #C2EB64;
$category5empty : #040055;
$category5full : #6A65F6;
$card-border-color: none;
$component-active-bg: #0EAD69;
$border-radius: 16px;
$form-check-input-checked-bg-color: #7265E3;
$form-check-input-checked-border-color: #7265E3;
$form-check-input-focus-box-shadow: none;

$value-min-global : valueMinGlobal;
$value-max-global : valueMaxGlobal;
$value-min1 : valueMin1;
$value-max1 : valueMax1;
$value-min2 : valueMin2;
$value-max2 : valueMax2;
$value-min3 : valueMin3;
$value-max3 : valueMax3;
$value-min4 : valueMin4;
$value-max4 : valueMax4;
$value-min5 : valueMin5;
$value-max5 : valueMax5;

@import "~bootstrap/scss/bootstrap";


html,
body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(360deg, #FEFEFF 0%, #FFFFFF 100%);
}

body {
    margin-bottom: 70px;
}

.navbar {
    border-radius: 15% 15% 0 0;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px -5px 30px rgba(126, 126, 127, 0.1);
    border: none;
}

.bodyconnexion {
    margin-bottom: 0px;
}

/* Professional show component_4 */
.professionalBox {
    background-color: #00D65B80;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin: 10% 20% 0% 20%;
    color: #FEFEFF;
}

/* Dashboard */

.profil-dash {
    height: 110px;
}

.undefined-patient {
    width: 110px;
    height: 110px;
    background: url(/assets/images/bras-cassé.jpg) center/cover;
    border-radius: 25%;
}

.picture-patient {
    width: 120px;
    height: 120px;
    padding: 0;
    border-radius: 25%;
}

.picture-profile-patient {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25%;
}

div.modal-footer>form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#profile_picture {
    width: 100%;

}

div#profile-picture>fieldset>div.vich-file {
    display: flex;
    justify-content: center;

}

div.vich-file>div.mb-3 {
    display: flex;
    justify-content: center;
}

div.vich-file>div.mb-3>div.form-check {
    display: flex;
    justify-content: center;
    width: 60%;
}

#profile_picture_profilePicture_delete {
    margin-right: 1em;
}


.upload-form-picture {
    margin-bottom: 2em;
}

.progress-title {
    color: black;
    text-overflow: ellipsis;
    font-size: 1.1em;
}

.progress-level {
    font-weight: bold;
    font-size: 1.1em;
}

.progress-title-cat {
    position: absolute;
    z-index: 1;
    font-size: 1.2em;
}

.progress-level-cat {
    font-weight: bold;
    font-size: 1.3em;
}

.progressbar {
    height: 10vh;
}

.progress {
    height: 10vh;
}

.progress-index {
    height: 6vh;
    background-color: #F4F6FA;
}

.progressbar-index {
    background-color: #AF8EFF99;
}

.thead-rdv {
    color: #7265E3;
    font-size: 1.2em;
}

.tbody-rdv {
    color: #004F8B;
    font-size: 1.5em;
}

.arrow-back {
    width: 20px;
    height: 20px;
}

.category1-progress {
    background-color: $category1empty;
}

.category1-progressbar {
    background-color: $category1full;
}

.category2-progress {
    background-color: $category2empty;
}

.category2-progressbar {
    background-color: $category2full;
}

.category3-progress {
    background-color: $category3empty;
}

.category3-progressbar {
    background-color: $category3full;
}

.category4-progress {
    background-color: $category4empty;
}

.category4-progressbar {
    background-color: $category4full;
}

.category5-progress {
    background-color: $category5empty;
}

.category5-progressbar {
    background-color: $category5full;
}

.finishbutton {
    font-size: 20px;
}

.schema-card {

    border: none;
}

.schema-picture {
    box-sizing: border-box;

    width: 100%;
}

.video-card {
    height: 100%;
}

.video-picture {
    width: 12em;
}

.documentPicture {
    height: 130px;
}

.documentCard {
    width: 170px;
    font-size: 14px;
    line-height: 18px;
    border: none;
}

.documentCard>.card-body {
    padding-left: 0;
    padding-right: 5px;
}

h5.card-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.text-muted {
    font-size: 13px;
}

/* Checked button in _componentCategories */

.bi-circle {
    color: black;
    font-size: 1.5rem;
}

.bi-check-circle {
    color: #0EAD69;
    font-size: 1.5rem;
}

/* Specifics classes to absolute position of buttons check */

.absolue-check {
    position: absolue;
}

.absolue-check-circle {
    position: absolute;
    color: #0EAD69;
    font-size: 1.5rem;
    margin-left: 7px;
    margin-top: 2.1px;
}

.absolue-circle {
    position: absolute;
    color: black;
    font-size: 1.5rem;
    margin-left: 7px;
    margin-top: 2.1px;
}

.background-check {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 7.2px;
    margin-left: 7.2px;
}

/* End of specifics classes to absolute position of button check */
/* End checked button in _componentCategories */

/* End of Dashboard */

/* Connexion Pages */

.doctor-image {
    width: 100%;
    border-radius: 0px 0px 0px 40px;
    box-shadow: 0px 10px 20px rgba(0, 64, 128, 0.16);
}

.logo-image {
    position: absolute;
    width: 300px;
    margin-left: 22px;
}

.connexionPageBody {
    background: linear-gradient(45deg, #12B2B3 0%, #56E0E0 100%);
    height: 100vh;
    margin-bottom: 0px;
}

.background-home {
    height: 66vh;
    width: 100%;
    border-radius: 0px 0px 0px 40px;
}

@media screen and (min-width: 768px) {
    .reassuringDoctor {
        height: 100%;
        width: auto;
        background: none;
    }

    .background-home {
        height: 66vh;
        width: 100%;
        border-radius: 0px 0px 0px 40px;
        background: url(/assets/images/desktop-doctor.jpg) center/contain no-repeat;
    }

    .title-serenity {
        background-color: white;
        width: auto;
    }
}

.carrousel-picture {
    border-radius: 0px 0px 0px 40px;
    height: 66vh;
}

.carousselControl {
    color: black;
}

.text-justify {
    text-align: justify;
}

.connexionBtn,
.registrationBtn {
    border-radius: 12px;
    box-shadow: 0px 10px 20px #12B2B3;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 18px;
    color: #12B2B3;
}

.connexionPageTitle {
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
}

.connexionPageTitle>h1 {
    font-size: 40px;
}

.connexionPageTitle>h2 {
    font-size: 25px;
}

.connexionLabel {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.connexionInput {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
}

.connexionInput:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(48, 151, 151, 0.911);
}

/* End of Connexion Pages */

/* Arrows Modal in _ComponentCategory1 */

.modal-footer {
    justify-content: space-between;
}

.arrow-modal {
    width: 40px;
    height: 34px;
}

/* End of Arrows Modal in _ComponentCategory1 */

/* Arrow style */

.arrow-back {
    width: 20px;
    height: 20px;
}

/* In _componentCategory5 */

.is-checked-checklist {
    text-decoration: line-through;
    color: grey;
}

.is-not-checked-checklist {
    text-decoration: initial;
    color: black;
}

/* End _componentCategory5 */

/* WelfareForm */
.check-mood {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-check {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
    padding: 0;
}

.form-check .form-check-input {
    margin-left: 0;
    margin-bottom: 3px;
    font-size: 28px;
}

.form-check-label {
    font-size: 14px;
    color: #4C5980;
}

.tired-mood,
.stress-mood,
.happy,
.unhappy {
    width: 80px;
}

.smiley-mood {
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
    align-items: center;
    width: 80px;
}

.btn-welfare-form {
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 16px;
    width: 250px;
    height: 56px;
    margin-top: 182px;
}

.btn-primary {
    color: #fff;
    background: #7265E3;
    border-color: #7265E3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7265E3;
    --bs-btn-hover-border-color: #7265E3;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7265E3;
    --bs-btn-active-border-color: #7265E3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7265E3;
    --bs-btn-disabled-border-color: #7265E3;
}

.h1-wellness {
    font-size: 24px;
    color: #2D3142;
    font-weight: 500;
    margin-bottom: 50px;
}

.p-title {
    color: #7265E3;
    font-size: 16px;
    font-weight: 500;
    margin-top: 55px;
    margin-right: 34px;
    margin-bottom: 43px;
}

.a-path {
    text-decoration: none;
}

.p-wellness {
    color: #7265E3;
    font-size: 16px;
    margin-bottom: 65px;
}

.p-feeling {
    font-size: 18px;
    color: #4C5980;
    margin-bottom: 50px;
}

.form-check-input {
    border: 1.5px solid #7265E3;
}

/* End WelfareForm */
/* Start Dashboard Admin */

.emojidashboard {
    width: 50px;
}