{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier élement checklist
{% endblock %}

{% block body %}
	<h1 class="crud-title">Modifier un élement de la checklist</h1>

	{{ include('checklist/_form.html.twig') }}

	<a class="btn btn-primary m-2" href="{{ path('app_checklist_index') }}">Retour à la liste</a>


{% endblock %}
