{% extends 'base.html.twig' %}

{% block title %}New Checklist{% endblock %}

{% block body %}
    <h1>Create new Checklist</h1>

    {{ include('checklist/_form.html.twig') }}

    <a href="{{ path('app_checklist_index') }}">back to list</a>
{% endblock %}
