{% extends 'base_form.html.twig' %}

{% block title %}New Checklist
{% endblock %}

{% block body %}
	{% block h1 %}Ajouter un élément à la checklist
	{% endblock %}

	{{ include('checklist/_form.html.twig') }}

	<a href="{{ path('app_checklist_index') }}">Retour à la liste</a>
{% endblock %}
