{% extends 'base_form.html.twig' %}

{% block title %}New Document
{% endblock %}

{% block body %}

	{% block h1 %}Ajouter un nouveau document
	{% endblock %}

	{{ include('document/_form.html.twig') }}

	<a href="{{ path('app_document_index') }}">back to list</a>
{% endblock %}
