<div>

	<p class="m-3">Afin de sécuriser votre retour à la maison votre chirurigien vous invite à prendre rendez-vous avec les professionnels de santé suivants :
	</p>
	{% for professional in category.medicalDisciplines %}
		<p class="professionalBox">
			<span>
				{{ professional.name}}
			</span>
		</p>
	{% endfor %}
</div>
