<div class="progress rounded-4 {{category.progressColor}} m-3">
	<div class="progress-bar progbar-40 rounded-4-start {{ category.progressbarColor }}" role="progressbar" aria-label="Example with label" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10">
		<div class="progress-title-cat px-3">{{category.title}}
			: la chirurgie des croisés</div>
	</div>
	<span class="progress-level-cat align-self-center text-white ms-auto p-2">4/10</span>
</div>

<h1>Shémas et documentation</h1>
<section class="container">
	<div></div>
	<div></div>

</section>
