<div class=" ">

	<p class="m-3">Afin de sécuriser votre retour à la maison votre chirurigien vous invite à prendre rendez-vous avec les professionnels de santé suivants :
	</p>

	<p class="professionalBox">
		<span>
			Kinésitérapeuthe
		</span>
	</p>
	<p class="professionalBox">
		<span>
			Infirmier
		</span>
	</p>
	<p class="professionalBox">
		<span>
			Psychologue
		</span>
	</p>
	<p class="professionalBox">
		<span>
			Ostéopathe
		</span>
	</p>
	<p class="professionalBox">
		<span>
			Psychiatre
		</span>
	</p>
</p></div>
