{% include "/components/_progressbar.html.twig" %}

<div class="m-3">

	<p>Préparons nous à vivre la journée de l’intervention une première fois, histoire d’être en toute sérénité le jour J :</p>
	{% for course in category.medicalCourses %}
		<p class="step">
			Étape
			{{course.step}}
			:
			{{course.title}}
		</p>
		<img src="{{asset('build/images/' ~ course.picture)}}" class="rounded mx-auto d-block" alt=""/>

{% endfor %}</div>
