{% include "/components/_progressbar_category4.html.twig" %}
<div class="my-4 mx-4">
	<p class="m-3">Afin de sécuriser votre retour à la maison votre chirurigien vous invite à prendre rendez-vous avec les professionnels de santé suivants :
	</p>
	{% for userMedicalDiscipline in userMedicalDisciplines %}
		<p class="professionalBox d-flex justify-content-around align-items-center">
			<span>
				{{ userMedicalDiscipline.medicalDiscipline.name}}</span>
			<a href="#"><img class="empty-checked-relative" src="{{ asset('build/images/checked-empty.svg')}}" alt="..."></a>
		</p>
		<p>
			<a href="{{ path("app_medical_discipline_check" , { id: userMedicalDiscipline.medicalDiscipline.id }) }}">Marquer comme fait/vu</a>
		</p>
	{% endfor %}
</div>
