{% include "/components/_progressbar.html.twig" %}

<div class="my-4 mx-4">

	<p>Préparons nous à vivre la journée de l’intervention une première fois, histoire d’être en toute sérénité le jour J :</p>
	{% for course in category.medicalCourses %}

		<p class="step my-4 d-flex justify-content-between align-items-center">
			Étape
			{{course.step}}
			:
			{{course.title}}
            <img style="width: 30px" src="{{ asset('build/images/checked-empty.svg')}}" alt="...">
		</p>
		<img src="{{asset('build/images/' ~ course.picture)}}" class="rounded mx-auto d-block" alt="Card image cap"/>
		<p>
			<a href="#">Marquer comme fait/vu</a>
		</p>
	{% endfor %}
</div>
