{% include "/components/_progressbar.html.twig" %}

<h2 class="my-4 mx-4">Quelques documents</h2>

<section class="d-flex justify-content-center p-0">
	<div class="row mx-4">
		{% for document in category.documents %}
			<div class="card schema-card col-6 g-3">
				<img class="card-img-top documentPicture" src="{{asset('build/images/' ~ document.picture)}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{ document.title}}</h5>
					<p class="card-text card-subtitle text-muted">
						{% if document.readTime != 0 %}
							{{ document.readTime}}
							minutes
						{% endif %}
					</p>
					<p class="card-text card-subtitle text-muted">{{ document.description}}</p>
					<p>
						<a href="#">Marquer comme fait/vu</a>
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
