{% set total = app.user.userChecklists|length %}
{% set isChecked = checklist|length %}
{% set percent = (isChecked / total)*100 %}


<a href="{{ path("app_category_show" , { title: "Ma check-list avant le départ à la clinique" }) }}" class="text-decoration-none">
	<div class="progress rounded-4 my-3 mx-4 category5-progress position-relative z-0">
		<div class="progress-bar rounded-4-start category5-progressbar z-2" style="width: {{percent}}%" role="progressbar" aria-label="Example with label" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10">
			<div class="progress-title-cat px-3 position-absolute z-3 d-flex justify-content-between w-100">
				<div class="w-100">
					<span class="titlebar d-flex justify-content-start {% if total == isChecked %}text-decoration-line-through{% endif %}">
						Ma check-list avant le départ à la clinique</span>

					<div class="titlefinish d-flex justify-content-end mt-4 me-2">
						{% if total == isChecked %}Terminé
						{% endif %}
					</div>

				</div>
				<div>
					<div class="numberChecked">
						{{isChecked}}/{{total}}
					</div>
					{% if total == isChecked %}
						<i class="finishbutton bi-check2-circle d-flex mt-4"></i>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</a>
