<div class="progress {{category.progress_color}} m-5">
	<div class="progress-bar {{category.progressbar_color}}" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10">{{category.title}}</div>
</div>
