{% set total2 = (app.user.userSchemaContents)|length %}
{% set total1 = (app.user.userVideos)|length %}
{% set total = (total1 + total2) %}
{% set isChecked2 = (video)|length %}
{% set isChecked1 = (schema)|length %}
{% set isChecked = (isChecked2 + isChecked1) %}
{% set percent = (isChecked / total)*100 %}


<a href="{{ path("app_category_show" , { title: "Comprendre mon opération"}) }}" class="text-decoration-none">
	<div class="progress rounded-4 my-3 mx-4 category1-progress position-relative z-0">
		<div class="progress-bar rounded-4-start category1-progressbar progressbar-index z-2" style="width: {{percent}}%" role="progressbar" aria-label="Example with label" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10">
			<div class="progress-title-cat px-3 position-absolute z-3 d-flex justify-content-between w-100">
				<div>Comprendre mon opération</div>
				<div class="numberChecked">
					{{isChecked}}/{{total}}
				</div>
			</div>
		</div>
	</div>
</a>
