{% extends 'base.html.twig' %}

{% block title %}Modifier étape hospitalisation
{% endblock %}

{% block body %}
	<h1 class="crud-title">Modifier une étape de l'hospitalisation</h1>

	{{ include('medical_course/_form.html.twig') }}

	<a href="{{ path('app_medical_course_index') }}">back to list</a>

	{{ include('medical_course/_delete_form.html.twig') }}
{% endblock %}
