{% extends 'base.html.twig' %}

{% block title %}Edit MedicalCourse{% endblock %}

{% block body %}
    <h1>Edit MedicalCourse</h1>

    {{ include('medical_course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_medical_course_index') }}">back to list</a>

    {{ include('medical_course/_delete_form.html.twig') }}
{% endblock %}
