{% extends 'base.html.twig' %}

{% block title %}Ajouter étape hospitalisation
{% endblock %}

{% block body %}
	<h1 class="crud-title">Ajouter une étape de l'hospitalisation</h1>

	{{ include('medical_course/_form.html.twig') }}

	<a href="{{ path('app_medical_course_index') }}">back to list</a>
{% endblock %}
