{% extends 'base_form.html.twig' %}

{% block title %}New MedicalCourse
{% endblock %}

{% block body %}
	{% block h1 %}Ajouter une étape de l'hospitalisation
	{% endblock %}

	{{ include('medical_course/_form.html.twig') }}

	<a href="{{ path('app_medical_course_index') }}">back to list</a>
{% endblock %}
