{% extends 'base_form.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	{% block h1 %}Modifier un utilisateur
	{% endblock %}

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_user_index') }}">back to list</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
