{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur
{% endblock %}

{% block body %}
	<h1 class="crud-title">Modifier un utilisateur</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_user_index') }}">back to list</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
