{% extends 'base_form.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	{% block h1 %}Ajouter un nouvel utilisateur
	{% endblock %}

	{{ include('user/_form.html.twig') }}

	<a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
